@page  "/Account/ForgotPasswordConfirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "АстрофотоBG - Потвърждаване на забравена парола";
}

<div class="container secondaryPage">
    <h1>Потвърждаване на забравена парола</h1>
    <p>
        Проверете имейла си, за да създадете нова парола.
    </p>
</div>

