@{
    ViewData["Title"] = "АстрофотоBG - FAQ";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Правила за ползване в АстрофотографияBG" />
    <meta name="keywords" content="правила" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="thermsOfUse" class="container">
        <h1>FAQ</h1>
        <hr />
        <h3>На сигурно място ли са моите данни в АстрофотоBG?</h3>
        <p>
            ДА! Ние държим много на сигурността. Всичките данни и пароли са криптирани. АстрофотоBG не споделя личната информация на потребителите си с трети страни.
            Ние също така ценим и интелектуалната собственост. Затова качените снимки са притежание изцяло на своите автори.
        </p>
        <hr />

        <h3>Кои са хората, които седят зад този сайт?</h3>
        <p>
            Ние сме двама ученици (Георги Петков и Георги Златанов) от МГ „Академик Кирил Попов“ – гр. Пловдив. Като любознателни момчета, 
            винаги търсим начини да се развиваме и да се учим. Правим всичко това безплатно, 
            като искаме по този начин да създадем една нова общност на всички любители на астрономията в България. 
            Целта ни е да популяризираме астрономията, събирайки на едно място всички астрофотографи от цялата страна.
        </p>
        <hr />

        <h3>Каква е мисията на този сайт?</h3>
        <p>
            Мисията на този сайт е да направи астрономията в България по-дигитална, като по този начин достигне до повече хора.
        </p>
        <hr />

        <h3>Безплатен ли е този сайт?</h3>
        <p>
            ДА! Сайтът е напълно безплатен.
        </p>
        <hr />

        <h3>Какъв е максимално допустимия размер на снимките?</h3>
        <p>
            Размерът на снимките е ограничен до 2MB на снимка. Всеки потребител има дисково пространство за качване на снимки.
        </p>
        <hr />

        <h3>Какви формати снимки мога да качвам?</h3>
        <p>
            АстрофотоBG поддържа формати JPEG, PNG и GIF.
        </p>
        <hr />

        <h3>Как мога да даря/помогна на АстрофотоBG?</h3>
        <p>
            За момента може да ни помогнете като споделяте АстрофотоBG в социалните мрежи.
            Също така ще се радваме да последвате АстрофотоBG във Facebook и Instagram.
            Така ни помагате много! Благодарим!
        </p>
        <hr />
    </div>
</body>
</html>
