<div class="secondaryPage" style="text-align:center">
    <div class="text-success">
        <h1 class="successHeading">Звезден си!</h1>
        <h4>Снимката ти е качена успешно.</h4>
        <br />
        <img src="~/images/zvezdensi.png" height="500"/>
    </div>
</div>