@{ 
    ViewData["Title"] = "АстрофотоBG - Правила за ползване";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Правила за ползване в АстрофотоBG" />
    <meta name="keywords" content="правила" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="thermsOfUse" class="container">
        <div>
            <h1>Правила за ползване</h1>
            <p>
                Осъществявайки достъп до уеб страниците  на АстрофотоBG, Вие трябва да приемете условията, изложени по-долу. В противен случай Вие нямате право да използвате тези страници.
                Съдържанието на уеб страниците АстрофотоBG е със защитени авторски права. Всички права, дори и които не са изрично упоменати тук, са запазени. Авторските права върху снимковия материал са собственост на своите създатели (потребителите).
                Забранено е копирането, предаването, разпространението и съхраняването на част или на цялото съдържание в каквато и да е форма без предварителното писмено съгласие на АстрофотоBG освен в случаите, когато това не противоречи на изложените тук условия.
                АстрофотоBG си запазва правото да редактира страниците си по всяко време.
                АстрофотоBG може по всяко време по свое усмотрение да премахне или премести материал, изпратен от потребители.
            </p>
        </div>
        <div>
            <h3>Използвайки страниците на АстрофотоBG, Вие приемате следните условия:</h3>
            <ul>
                <li>материалите не трябва да съдържат нищо, което е извън рамките на закона или по някакъв начин е неподходящо за публикуване;</li>
                <li>Вие приемате условието да не предприемате действия срещу нас във връзка с материал, който сте предоставили, и да ни освободите от отговорност, ако трета страна предприеме действия срещу нас във връзка с материал, който сте предоставили.</li>
            </ul>

            <h2>Регистрация</h2>
            <p>
                Като условие за използването на някои от услугите на сайта, Вие трябва да се регистрирате и да изберете парола и потребителско име. Регистрацията в АстрофотоBG е безплатна.
                Чрез регистрацията си в АстрофотоBG, Вие се съгласявате и приемате, чрез даването на съгласието си, подаване на съответната регистрационна форма и натискане на бутон "Регистрация", правите електронно изявление, имащо силата на електронен документ, подписан с обикновен електронен подпис.
                Регистрираният потребител носи цялата отговорност за ползването на неговото потребителско име и парола, както и за опазването им, така че те да не стават достояние на трети лица без негово съгласие.
                При най-малко съмнение у потребителя, че трето лице има достъп до акаунта му, потребителят може да промени своята парола за достъп.
            </p>
            <h3>По време на регистрация, потребителя няма право да:</h3>

            <ul>
                <li>Изберете или да използвате потребителското име на друго лице, с цел злоупотреба с личните му данни;</li>
                <li>Използвате потребителското име да друго лице без негово разрешение;</li>
                <li>Използвате вулгарни и нецензурни думи и изрази за потребителско име.</li>
            </ul>
            <p>
                Неспазването на някоя от посечените по-горе точки ще доведе до незабавно прекратяване на акаунта на потребителя.
            </p>
            <h3>При регистрация направена от Вас на страниците на АстрофотоBG, Вие:</h3>
            <ul>
                <li>получавате възможност да ползвате дисково пространство за качване на снимков материал;</li>
                <li>можете да публикувате свои авторски снимки;</li>
                <li>се съгласявате да не публикувате и да не разпространявате материали, 
                текстове и/или изображения (вкл. и снимки) с чужди авторски права или с други защитени от закона права на трети лица, 
                без изрично да упоменете това и без да е налице изричното съгласие за това на притежателя на тези права, 
                включително и да не публикувате и да не разпространявате снимки, в чиято видима област присъстват изображения на трети лица, 
                които не са дали изричното си съгласие за публикуване на снимките в този сайт;</li>
                <li>се съгласявате да не публикувате невярна и/или подвеждаща информация, 
                нито материали, текстове и/или изображения (вкл. и снимки), съдържащи конфиденциална информация, 
                или открито засягащи интереси на трети лица или имащи открито рекламно съдържание.</li>
            </ul>
        </div>
        <div>
            <h2>Публикуване на материали</h2>
            <p>
                Съгласявате се да не публикувате обидни, нецензурни, вулгарни, клеветнически, предизвикващи омраза, заплашителни, сексуално ориентирани, насаждащи етническа омраза и други материали, които нарушават законите на Република България или Международното Право. 
                Ако го направите, това може да доведе до незабавното Ви и постоянно изгонване и сезиране на Интернет доставчика Ви, ако това ни се стори наложителн. 
                Вие се съгласявате, че АстрофотоBG има правото да премахва или премества всяка снимка, по всяко време и по собствена преценка. 
                Като потребител, Вие се съгласявате, че всяка информация, която публикувате ще бъде записвана в база данни. 
                Въпреки, че тази информация няма да бъде споделяна с трети лица без Ваше съгласие, АстрофотоBG не може да бъде държан отговорен за хакерски атаки, които могат да доведат до компрометиране на данните.
            </p>

            <h3>Качвайки Вашите снимкови материали в сайта:</h3>
            <ul>
                <li>Вие получавате пълни права над тях;</li>
                <li>Съгласявате се, че те отговарят на предназначенито на сайта и могат да послужат за развитието му.</li>
                <li>Съгласявате се да не публикувате материали, текстове и/или изображения (вкл. и снимки) с порнографски характер или внушаващи насилие, 
                национална, политическа, етническа, религиозна и/или расова нетърпимост, или възхваляващи или оневиняващи жестокост или насилие, или такива, 
                които са в разрез с българското законодателство и общоприетите обществени норми и морал;</li>
                <li>Съгласявяте се да не публикувате и да не разпространявате материали, текстове и/или изображения (вкл. и снимки) с чужди авторски права или с други защитени от закона права на трети лица, 
                без изрично да упоменете това и без да е налице изричното съгласие за това на притежателя на тези права, включително и да не публикувате и да не разпространявате снимки, 
                в чиято видима област присъстват изображения на трети лица, които не са дали изричното си съгласие за публикуване на снимките в този сайт;</li>
            </ul>
            <p>
                АстрофотоBG си запазва правото да разпространява и преразпространява съдържанието, предоставено от потребителите,
                на други страни, уебсайтове и приложения, в съответствие с Българският закон за авторското право, който изисква правилното приписване на името на автора и източника,
                за нетърговски цели, включително фотографии на потребители, снимки на профили, заглавия на снимки, описания, използвано оборудване и друга информация за снимки, 
                която е била предоставена на сайта.
            </p>
        </div>
    </div>
</body>
</html>
