@model ErrorViewModel
@{
    ViewData["Title"] = "АстрофотоBG - Грешка";
}

<div class="container secondaryPage" style="text-align:center">
    <h1 class="text-danger">Възникна грешка!</h1>
    <h2 class="text-danger">Възникна грешка при обработката на данните.</h2>
    <br />
    <img src="~/images/greshka.png" height="500" />

</div>
